<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Homepage</title>
<style>
    .btn-primary{
        background-color: rgb(67, 67, 214);
        color: white;
        float: right;
        width: 100px;
        height: 50px;
        border-radius: 5px;
    }

</style>
</head>
<body>

    <div>
       <a href="/logout">
        <button  class="btn-primary " type="submit" style="background-color: blue; color: white; float: right;"> Logout</button>
    </a>
    </div>
    <h1>USER HOME PAGE</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum voluptatibus officiis ut aperiam hic voluptates ex accusamus minus porro, possimus repellendus dicta error eum alias quos ea excepturi impedit consequatur?</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum voluptatibus officiis ut aperiam hic voluptates ex accusamus minus porro, possimus repellendus dicta error eum alias quos ea excepturi impedit consequatur?</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum voluptatibus officiis ut aperiam hic voluptates ex accusamus minus porro, possimus repellendus dicta error eum alias quos ea excepturi impedit consequatur?</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum voluptatibus officiis ut aperiam hic voluptates ex accusamus minus porro, possimus repellendus dicta error eum alias quos ea excepturi impedit consequatur?</p>

</body>
</html>